<!DOCTYPE html>
<html>

<head>
</head>

<body>
	<h1><a href="/">Back to Main</a></h1>

	<table border=1px>
		<thead>
			<tr>
				<th colspan="3">Bench Day</th>
			</tr>
			<tr>
				<th>Exercise</th>
				<th>Reps X Sets</th>
				<th>Weight</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Incline Bench Press</td>
				<td>3 X 10</td>
				<td>215 lbs.</td>
			</tr>
			<tr>
				<td>Hammer Curls</td>
				<td>3 X 10</td>
				<td>25 lbs.</td>
			</tr>
			<tr>
				<td>Face Pulls</td>
				<td>5 X 12</td>
				<td>95 lbs.</td>
			</tr>
			<tr>
				<td>Cross Over Cables</td>
				<td>4 X 16</td>
				<td>35 lbs.</td>
			</tr>
			<tr>
				<td>Incline Dumbbell Press</td>
				<td>5 X 10</td>
				<td>50 lbs.</td>
			</tr>
			<tr>
				<td>Calf Raises</td>
				<td>4 X 20</td>
				<td>225 lbs.</td>
			</tr>
			<tr>
				<td>Dips</td>
				<td>3 X 12</td>
			</tr>
		</tbody>
	</table>
</body>

</html>