<!DOCTYPE html>
<html>

<head>
</head>

<body>
	<h1><a href="/">Back to Main</a></h1>

	<table border=1px>
		<thead>
			<tr>
				<th colspan="3">Deadlift Day</th>
			</tr>
			<tr>
				<th>Exercise</th>
				<th>Reps X Sets</th>
				<th>Weight</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Deadlift</td>
				<td>4 X 6</td>
				<td>405/315 lbs.</td>
			</tr>
			<tr>
				<td>Pulldown</td>
				<td>5 X 12</td>
				<td>160 lbs.</td>
			</tr>
			<tr>
				<td>Back Extension</td>
				<td>4 X 12</td>
				<td>25 lbs.</td>
			</tr>
			<tr>
				<td>Farmer's Walk</td>
				<td>2 X 1</td>
				<td>125 lbs.</td>
			</tr>
		</tbody>
	</table>
</body>

</html>