<!DOCTYPE html>
<html>

<head>
</head>

<body>
	<h1><a href="/">Back to Main</a></h1>

	<table border=1px>
		<thead>
			<tr>
				<th colspan="3">Row Day</th>
			</tr>
			<tr>
				<th>Exercise</th>
				<th>Reps X Sets</th>
				<th>Weight</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Bent Over Row</td>
				<td>5 X 10</td>
				<td>250 lbs.</td>
			</tr>
			<tr>
				<td>Pull-up</td>
				<td>3 X 10</td>
			</tr>
			<tr>
				<td>Curls</td>
				<td>2 X 10</td>
				<td>85 lbs.</td>
			</tr>
			<tr>
				<td>Inverted Row</td>
				<td>5 X 10</td>
			</tr>
			<tr>
				<td>Calf Raises</td>
				<td>4 X 20</td>
				<td>225 lbs.</td>
			</tr>
		</tbody>
	</table>
</body>

</html>